.background-image {
  background: url(https://tinyurl.com/ycx4cds9);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 10rem;
}

.modal-content {
  background: rgb(185, 185, 185);
  color: white;
}

.form-text {
  color: white;
  font-size: large;
}

.text-on-photo {
  font-size: large;
  font-weight: 900;
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
    -1px 1px 0 #000000, 1px 1px 0 #000000;
}
