*/src/dist
**/dist
*/node_modules
.idea
**/.DS_Store
**/setupProxy.js
/.vscode

/project.env
*/.pnp
*/.pnp.js

# testing
*/coverage

# production
*/build

# misc
*/.DS_Store
*/.env.local
*/.env.development.local
*/.env.test.local
.env

*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
