.home-nav {
    z-index: 999;
}

.icon-legend {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background: rgba(255,255,255,.5);
    padding: 1.5rem;
    font-weight: bold;
}

.confirm-marker {
    margin-top: 6rem;
    margin-left: .8rem;
    padding: .5rem;
    border: solid black 1px;
    background-color: white;
    border-radius: 10%;
    font-size: 150%;
}

.x-button {
    font-size: 50px;
    color: red;
}

.x-button:hover,
.x-button:focus {
    cursor: pointer;
    color: darkred;
}

.check-button {
    font-size: 50px;
    color: green;
}

.check-button:hover,
.check-button:focus {
    cursor: pointer;
    color: darkgreen;
}

Button {
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.dropdown-menu-css {
    width: 14rem;
    right: auto;
    left: 0;
}


@media (max-width: 978px) {
    .large-button {
        margin: 0;
        padding: .75rem;
        font-size: 80%;
        line-height: .5;
    }

    .sign-up-button {
        padding: .5rem;
        font-size: 80%;
        line-height: 1;
    }

    .dropdown-menu-css {
        padding: .75rem;
        font-size: 80%;
        width: 8rem;
    }

    .login-form-container {
        padding: 0;
    }

    .login-form input {
        font-size: 100%;
    }

    .log-in-btn {
        font-size: 110%;
    }

    .confirm-marker {
        margin-top: 4.5rem;
        margin-left: .8rem;
        padding: .5rem;
        border: solid black 1px;
        background-color: white;
        border-radius: 10%;
        font-size: 100%;
    }

    .x-button {
        font-size: 25px;
        color: red;
    }

    .x-button:hover,
    .x-button:focus {
        cursor: pointer;
        color: #BB2D3B;
    }

    .check-button {
        font-size: 25px;
        color: green;
    }

    .check-button:hover,
    .check-button:focus {
        cursor: pointer;
        color: #006400;
    }
}