
#content {
    background: rgba(255,255,255,.5);
    border-radius: 3%;
}
.full-screen {
    height: 100vh;

}
body {
    background: url(images/night-lights.jpg) no-repeat center center fixed;
    background-size: cover;
}
h1 {
    text-align: center;
}

.face-palm {
    background-image: url(../home/icons/face-palm.png);
}

.crying {
    background-image: url(../home/icons/crying.png);
}

.bomb {
    background-image: url(../home/icons/bomb.png);
}